<br/><br/>
<body>

  <div class="row">
    <h4 style="margin-left: 20px;">Formulario</h4>
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
            <div class="row">
              <div class="input-field col-s12">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Nombre">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="position" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Cargo">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="office" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Oficina">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="salary" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" value="0" placeholder="Salario">
              </div>
              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right green darken-3" style="margin-left: 2px;" (click)="resetForm(employeeForm)">Limpiar</button>
                  <button class="btn right green darken-3">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table class="black-text">
        <thead>
          <th>Nombre</th>
          <th>Cargo</th>
          <th>Oficina</th>
          <th>Sueldo</th>
          <th>Opciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeService.employees">
            <td>{{ employee.name }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.office }}</td>
            <td>{{ employee.salary }}</td>
            <td>
              <a style="margin-right: 5px; color: #2e7d32;" (click)="editEmployee(employee)">
                <i class="material-icons">edit</i>
              </a>
              <a style="color:#2e7d32" (click)="deleteEmployee(employee._id, employeeForm)">
                <i class="material-icons ">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
