<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <div class="nav-wrapper  green darken-2">
      <div class="container">
        <a href="" class="brand-logo">MEAN Practice by Flaresstorm</a>
      </div>
    </div>
</nav>
<br/><br/>
<div class="container">
<div class="card ">
  <div class="card-content">
<app-employee></app-employee> 
  </div> 
</div>
</div>
<br/><br/>
<footer class="page-footer  green darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Follow me</h5>
        <p class="grey-text text-lighten-4">My first app using mean stack</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/Flaresstorm">Github</a></li>
          
          
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright Flaresstorm
 
    </div>
  </div>
</footer>